<div class="moduloI card mb-4 mx-5">
    <div class="table-responsive-lg px-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="width:20%">Fecha</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Intervalo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of produccion">
                    <td>{{p.idproduccion}}</td>
                    <td>{{p.Fecha | date:'medium' }}</td>
                    <td>{{p.Cantidad}} </td>
                    <td>{{p.Intervalo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <span class="badge badge-light">Total:{{total}} </span>
    </div>
</div>