
.home {
    margin-top: 6rem;
  }

.card-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0 , 0, 0.22);
}

.card-body-custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 30px 25px 30px;
}

.section-cards {

        justify-content: space-around;
}

.cards-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
}

.item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    cursor: pointer;
    background-color: #2a91d0;
    color: white;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0,0.5);
    border-radius: 0.5rem;
    max-width: 10rem;
    min-width: 10rem;
    width: 10rem;
    height: 8.5rem;
    margin: 2rem;
    text-align: center;
}

.item-container:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

.material-icons {
    font-size: 64px;
}

.invert {
  filter: invert(1);
}

.blue-bg {
    background-color: #062F4F;
  }
.pink-bg {
  background-color: #813772;
}

.red-bg {
  background-color: #B82601;
}

.black-bg {
  background-color: #000000;
}

.green-bg {
  background-color: #064f4f;
}

.yellow-bg {
  background-color: #9a8f0f;
}

.orange-bg {
  background-color:#b95323e6;
}

.salmon-bg {
  background-color:#b15d53;
}

.green-two-bg {
  background-color: #366A2F;
}

.gray-bg {
  background-color: #586068;
}

.yellow-bg {
  background-color: #ebc139;
}

.red-low-bg {
  background-color: #FF4180;
}

.be-bg {
  background-color: #5e1224;
}

.blue-lite-bg {
  background-color: #2a91d0;
}

.bluemidas {
  background-color: #58a4ee
}

.bluesmidas {
  background-color: #3fb2bf
}

.purplemidas {
  background-color: #8E6DF2
}


