@import '../../../assets/variables.scss';
.card { 
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    box-shadow: $shadow-card;
}


.border {
    margin-top: 5rem;
    margin-right: 3rem!important;
    margin-left: 3rem!important;
  }