<!-- <div style="margin-top: 5rem;"> <ng-content></ng-content> </div> -->

<div style="margin-top: 5rem;" class="mx-5">
   <!-- <form class="div-flex" [formGroup]="form">
       <div class="c">
        <select class="form-control select-filter" id="idskunow" nombre="idskunow" (change)="getHistorico()" (change)="filtroTm()"  (change)="filtroScrap()" (change)="filtroDefectos()"
          formControlName="idskunow">
          <option disabled hidden value="-1" [selected]="true">Sku del Producto</option>
          <option *ngFor="let obj of FilterArray" [value]="obj.idskunow">{{obj.producto}}
          </option>
        </select>
      </div>
      <div class="c">
        <select class="form-control select-filter" id="turnosel" nombre="turnosel" (change)="getHistorico()" (change)="filtroTm()"  (change)="filtroScrap()" (change)="filtroDefectos()"
          formControlName="turnosel">
          <option disabled hidden value="-1" [selected]="true">Turno</option>
          <option *ngFor="let obj of FilterArray2" [value]="obj.idturnoprodlinea">{{obj.turno}}
          </option>
        </select>
      </div>
      <div class="c row">
        <a>Desde: </a> <input class="form-control select-filter" type="date" formControlName="fechaprep"
          (change)="getMaquinas()"  />
      </div>
      <div class="c row">
        <a>Hasta: </a> <input class="form-control select-filter" type="date" formControlName="fechaprep2"
          [(max)]="maxDate" (change)="getMaquinas()"  />
      </div>
      <a class="btn" data-toggle="tooltip" data-placement="top" title="Limpiar filtros" (click)="limpiarFiltro()"><i
          class="material-icons">filter_list</i></a>
    </form>-->
  </div>
<div id="chartdiv" class="chart"></div>