.pagination-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination {
  user-select: none;
}

.material-icons {
  font-size: 16px;
}

.page-item {
  cursor: pointer;
}

.page-item.active
.page-link {
  z-index: 1;
  color: #fff;
  background-color: #343A40;
  border-color: #343A40;
}

.disabled {
  cursor: unset;
}