@import '../../../../assets/variables.scss';

.card {
  box-shadow: $shadow-card;
}

.area {
  margin-top: 3rem;
}

.footer {
  text-align: right;
  margin: 3px
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}