@import '../../../../assets/variables.scss';

.card {
  box-shadow: $shadow-card;
}

.evento {
  margin-top: 5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: center;
}
