<dialog-component [title]="title" (closeEmit)="closeModal()" [alertMessage]="alertMessage">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col-md-6">
        <label for="desc1" class="form-label">Primer descanso</label>
        <input type="time" class="form-control" id="desc1" nombre="desc1" formControlName="desc1"
          [ngClass]="{ 'is-invalid': submitted && f.desc1.errors }">
        <div *ngIf="submitted && f.desc1.errors" class="invalid-feedback">
          <div *ngIf="f.desc1.errors.required">Hora de inicio primer descanso es requerida</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="desc1dur" class="form-label">Duración minutos</label>
        <input type="number" class="form-control" id="desc1dur" nombre="desc1dur" formControlName="desc1dur"
          [ngClass]="{ 'is-invalid': submitted && f.desc1dur.errors }">
        <div *ngIf="submitted && f.desc1dur.errors" class="invalid-feedback">
          <div *ngIf="f.desc1dur.errors.required">Duración minutos es requerido</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="desc2" class="form-label">Segundo descanso</label>
        <input type="time" class="form-control" id="desc2" nombre="desc2" formControlName="desc2"
          [ngClass]="{ 'is-invalid': submitted && f.desc2.errors }">
        <div *ngIf="submitted && f.desc2.errors" class="invalid-feedback">
          <div *ngIf="f.desc2.errors.required">Hora de inicio segundo descanso es requerida</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="desc2dur" class="form-label">Duración minutos</label>
        <input type="number" class="form-control" id="desc2dur" nombre="desc2dur" formControlName="desc2dur"
          [ngClass]="{ 'is-invalid': submitted && f.desc2dur.errors }">
        <div *ngIf="submitted && f.desc2dur.errors" class="invalid-feedback">
          <div *ngIf="f.desc2dur.errors.required">Duración minutos es requerido</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="desc3" class="form-label">Tercer descanso</label>
        <input type="time" class="form-control" id="desc3" nombre="desc3" formControlName="desc3"
          [ngClass]="{ 'is-invalid': submitted && f.desc23errors }">
        <div *ngIf="submitted && f.desc3.errors" class="invalid-feedback">
          <div *ngIf="f.desc3.errors.required">Hora de inicio tercer descanso es requerida</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="desc3dur" class="form-label">Duración minutos</label>
        <input type="number" class="form-control" id="desc3dur" nombre="desc3dur" formControlName="desc3dur"
          [ngClass]="{ 'is-invalid': submitted && f.desc3dur.errors }">
        <div *ngIf="submitted && f.desc3dur.errors" class="invalid-feedback">
          <div *ngIf="f.desc3dur.errors.required">Duración minutos es requerido</div>
        </div>
      </div>

    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-secondary">Guardar</button>
    </div>
  </form>
</dialog-component>