.card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.machine-card {
  width: 100%;
  margin: 0px !important;
  background-color: #ffff;
}

.nuevo-cia {
  margin-top: 5rem;
}
