<div class="modulo mb-3 mx-3">
  <div class="row">
    <div class="col-sm-12">
      <form  [formGroup]="formF">
      <div class="mx-5 div-flex">
          <div class="c row">
            <a class="label">Desde: </a> <input class="form-control select-filter" type="date" formControlName="fechaprep"
              (change)="getOEE()" (change)="getOEEGLOBAL()" />
          </div>
          <div class="c row">
            <a class="label">Hasta: </a> <input class="form-control select-filter" type="date" formControlName="fechaprep2"
              (change)="getOEE()"  (change)="getOEEGLOBAL()"[(max)]="maxDate" />
          </div>
          <a class="btn" data-toggle="tooltip" data-placement="top" title="Limpiar filtros" (click)="limpiarFiltro()"><i
              class="material-icons">filter_list</i></a>
      </div>
      <div class="mx-5 mb-3">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="card-hover-shadow-2x mb-3 card">
              <div class="widget-chart-content">
                <div class="widget-numbers">
                  OEE
                  <div class="col-md-1 select-fil">
                    <select class="form-control " id="idskunow" nombre="idskunow" formControlName="idskunow"
                      (change)="getOEE()">
                      <option value="-1" hidden selected>SKU</option>
                      <option *ngFor="let prod of productos" [value]="prod.idproducto">{{prod.producto}}</option>
                    </select>
                  </div>
                </div>
                <div class="widget-subheading">
                  <div id="OEE" class="chart"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="card-hover-shadow-2x mb-3 card">
              <div class="widget-chart-content">
                <div class="widget-numbers">
                  OEE GLOBAL
                  <div class="col-md-1 select-fil">
                    <select class="form-control " id="idskunow2" nombre="idskunow2" formControlName="idskunow"
                      (change)="getOEEGLOBAL()">
                      <option value="-1" hidden selected>SKU</option>
                      <option *ngFor="let prod of productos" [value]="prod.idproducto">{{prod.producto}}</option>
                    </select>
                  </div>
                </div>
                <div class="widget-subheading">
                  <div id="OEEGLOBAL" class="chart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </form>
    </div>
  </div>
</div>
