<div class="back">
    <div class="row header">
        <div class="col-10">
            <h1>PERFORMANCE BOARD</h1>
        </div>
        <div class="col-2 black"><a class="navbar-brand"><img class="" [src]="urlMidas" alt="Midas"></a></div>
    </div>
    <div class="container">
        <div class="row infoEncoder">
            <table class="infoEncoder">
                <tr class="dataEnc">
                    <th>
                        <h1>VELOCIDAD DE LÍNEA</h1>
                    </th>
                    <th>
                        <h1>METROS PRODUCIDOS</h1>
                    </th>
                </tr>
                <tr class="dataEnc">
                    <td>
                        <p class="dataEnc">{{velAct}} m/s</p>
                    </td>
                    <td>
                        <p class="dataEnc">{{distProd}} m</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row dataSku">
            <table class="sku_info">
                <tr class="sku">
                    <th>SKU EN PRODUCCION</th>
                    <th>METROS PROGRAMADOS</th>
                    <th>SIGUIENTE SKU</th>
                </tr>
                <tr class="sku">
                    <td>{{ skuActual }}</td>
                    <td>{{ metros_prog }}</td>
                    <td>{{ skuSig }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>