    /*Estilos para la tabla con información del Encoder*/

    div.infoEncoder {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      text-align: center;
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;
    }

    div.infoEncoder>table {
      width: 100%;
    }

    p.dataEnc {
      font-size: 10em;
    }

    /*Estilos para la tabla con información del SKU*/

    div.dataSku>.sku_info {
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    table.sku_info,
    tr.sky>th,
    tr.sku>td {
      border: 3px solid white;
      font-size: 2rem;
    }

    tr.sku>th {
      background-color: #2d5695;
      color: white;
    }

    tr.sku>td {
      background-color: black;
      color: white;
    }

    .container {
      width: 100%;
      height: 100%;
      margin: 0;
    }
