<dialog-component [title]="title" (closeEmit)="closeModal()" [alertMessage]="alertMessage">
  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nip">NIP(4 números): </label>
        <input type="password" class="form-control" id="nip" nombre="nip" [(ngModel)]="usuario.nip"
          formControlName="nip" [ngClass]="{ 'is-invalid': submitted && f.nip.errors }">
        <div *ngIf="submitted && f.nip.errors" class="invalid-feedback">
          <div *ngIf="f.nip.errors.required">NIP es requerido</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="nip2">Confirmar NIP</label>
        <input type="password" class="form-control" id="nip2" nombre="nip2" [(ngModel)]="auxnip2" formControlName="nip2"
          [ngClass]="{ 'is-invalid': submitted && f.nip2.errors }">
        <div *ngIf="submitted && f.nip2.errors" class="invalid-feedback">
          <div *ngIf="f.nip2.errors.required">NIP es requerido</div>
          <div *ngIf="f.nip2.errors.mustMatch">NIP no coincide</div>
        </div>
      </div>
      <div class="form-group col-md-6" *ngIf="sistema">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" nombre="password" [(ngModel)]="usuario.password"
          formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
        </div>
      </div>
      <div class="form-group col-md-6" *ngIf="sistema">
        <label for="password2">Confirma Contraseña</label>
        <input type="password" class="form-control" id="password2" nombre="password2" formControlName="password2"
          [ngClass]="{ 'is-invalid': submitted && f.password2.errors }">
        <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
          <div *ngIf="f.password2.errors.required">Contraseña es requerido</div>
          <div *ngIf="f.password2.errors.mustMatch">Contraseña no coincide</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="celular">Celular</label>
        <input type="number" class="form-control" id="celular" nombre="celular" [(ngModel)]="usuario.celular"
          formControlName="celular" [ngClass]="{ 'is-invalid': submitted && f.celular.errors }">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Correo</label>
        <input type="email" class="form-control" id="email" nombre="email" [(ngModel)]="usuario.email"
          formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Correo es requerido</div>
          <div *ngIf="f.email.errors.email">Correo inválido</div>
        </div>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-6 toggle">
        Status <mat-slide-toggle id="activousr" nombre="activousr" (change)="ToggleStatusUsu()"
          [(ngModel)]="usuario.activousr" formControlName="activousr"
          [ngClass]="{ 'is-invalid': submitted && f.activousr.errors }">
          {{statusUsu}}
        </mat-slide-toggle>
        <div *ngIf="submitted && f.activousr.errors" class="invalid-feedback">
          <div *ngIf="f.activousr.errors.required">Estado del usuario requerido</div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button type="submit" class="btn btn-secondary">{{btnText}}</button>
      </div>
    </div>

  </form>
</dialog-component>