@import '../../../../assets/variables.scss';

.icon {
  padding: 0;
  font-size: 19px;
}

.card {
  box-shadow: $shadow-card;
}

.moduloI {
  margin-top: 3rem;
}

.footer {
  text-align: center;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}