<div class="mt-3">
  <app-header-table [renderButton]="false" [titleHeader]="'Modulo Interfaz'" [titleSelect]="'Producto..'"
    (buttonOutput)="add()" (searchOutput)="onSearchChange($event)" [listNav]="listNav" [statuswosubButton]="false"
    (statuswosubOutput)="update()">
  </app-header-table>
</div>
<div class="nuevo-wo card h-100 d-flex mx-5">
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="idwo"> <b>Orden de Manufactura:</b> {{wo.idwo}}</label>
      </div>

      <div class="form-group col-md-4">
        <label for="idempresa"><b>Cliente:</b> {{wo.Empresa.nomemp}}</label>
      </div>

      <div class="form-group col-md-3">
        <label for="woasig"><b>Orden del cliente:</b> {{wo.woasig}}</label>
      </div>

      <div class="form-group col-md-3">
        <label for="ocliente"><b>Orden interna:</b> {{wo.ocliente}}</label>

      </div>
    </div>
    <form [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-md-1">
          <label for="cantwosub">Cantidad</label>
          <input type="number" class="form-control" id="cantwosub" nombre="cantwosub" formControlName="cantwosub"
            [ngClass]="{ 'is-invalid': submitted && f.cantwosub.errors }">
          <div *ngIf="submitted && f.cantwosub.errors" class="invalid-feedback">
            <div *ngIf="f.cantwosub.errors.required">Cantidad producto es requerido</div>
            <div *ngIf="f.cantwosub.errors.pattern">Cantidad es mayor a cero</div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label for="idproducto">SKU del producto</label>
          <select class="form-control" id="idproducto" nombre="idproducto" formControlName="idproducto"
            [ngClass]="{ 'is-invalid': submitted && f.idproducto.errors }">
            <option value="">Seleccionar producto</option>
            <option *ngFor="let p of producto" [value]="p.idproducto">
              {{p.producto}}
            </option>
          </select>
          <div *ngIf="submitted && f.idproducto.errors" class="invalid-feedback">
            <div *ngIf="f.idproducto.errors.required">El producto es requerido</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="tipowosub">Tipo de Producción</label>
          <select class="form-control" id="tipowosub" nombre="tipowosub" (change)="TWosub()" [(ngModel)]="tipo"
            formControlName="tipowosub" [ngClass]="{ 'is-invalid': submitted && f.tipowosub.errors }">
            <option *ngFor="let tp of tipoP" [value]="tp.id">
              {{tp.tipo}}
            </option>
          </select>
          <div *ngIf="submitted && f.tipowosub.errors" class="invalid-feedback">
            <div *ngIf="f.tipowosub.errors.required">El status es requerida</div>
          </div>
        </div>
        <div>
          <br />
          <button type="submit" class="btn btn-primary" (click)="save()">Guardar</button>
        </div>
      </div>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="width: 5%">Cantidad</th>
          <th scope="col" style="width: 15%">SKU del producto</th>
          <th scope="col" style="width: 25%">Descripción</th>
          <th scope="col" style="width: 10%">Medida</th>
          <th scope="col" style="width: 15%">Tipo de Producción</th>
          <th scope="col" style="width: auto">TAK time</th>
          <th scope="col" style="width: 10%">Tiempo de carga en horas</th>
          <th scope="col" style="width: auto">Opciones</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let wos of wosub">
          <td>{{wos.cantwosub }}</td>
          <td>{{wos.Producto.producto}}</td>
          <td>{{wos.Producto.desc_producto | titlecase}}</td>
          <td>{{wos.Producto.Um.um }}</td>
          <td>{{wos.tipowosub ==1 ? "Muestra" : "Normal"}}</td>
          <td>{{wos.Producto.te_producto}}</td>
          <td>{{wos.cantwosub * (wos.Producto.te_producto / 60 / 60) | number}}</td>
          <td>
            <a class="btn" data-toggle="tooltip" data-placement="top" title="Editar" (click)="editar(wos)"><i
                class="material-icons">create</i></a>
            <a class="btn" data-toggle="tooltip" data-placement="top" title="Eliminar " (click)="delete(wos)"><i
                class="material-icons">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>