@import '../../../../assets/variables.scss';

.card {
  box-shadow: $shadow-card;
}

.moduloI {
  margin-top: 3rem;
}

.footer {
  text-align: center;
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}


tr td:last-child {
  width: 1%;
  white-space: nowrap;
}