@import '../../../../assets/variables.scss';

.mat-dialog-container {
  padding: 0px !important;
}


.mat-6 {
  padding: .0rem .75rem;
  vertical-align: center;
  font-size: 20px;
}

.btn-add {
  padding: .0rem .75rem;
  vertical-align: center;
}

a.btn {
  padding: 6px 6px;
}

a.add {
  padding: 0px 0px;
}