<dialog-component [title]="title" (closeEmit)="closeModal()" [alertMessage]="alertMessage">
    <div class="table-responsive-sm px-4">
        <form [formGroup]="form" (ngSubmit)="onSubmits()">
            <table class="table table-sm table-hover">
                <thead>
                    <tr class="col-md-12">
                        <th class="col-md-9">
                            <div class=" ">
                                <label>Agregar defecto</label>
                                <select class="form-control" id="iddefreg" nombre="iddefreg" formControlName="iddefreg"
                                    [ngClass]="{ 'is-invalid': submitteds && f.iddefreg.errors }">
                                    <option disabled hidden value="-1" [selected]="true">Seleccionar defecto</option>
                                    <option *ngFor="let d of defectos" [value]="d.iddefreg">
                                        {{d.descripcion_defecto}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.iddefreg.errors" class="invalid-feedback">
                                    <div *ngIf="f.iddefreg.errors.required">El defecto es requerido</div>
                                </div>
                            </div>
                        </th>
                        <th class="col-md-1">
                            <div class="">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sr of defecto">
                        <td>{{sr.Registrodefecto.descripcion_defecto}}</td>
                        <td>
                            <a class="btn icon" data-toggle="tooltip" data-placement="top" title="Eliminar "
                                (click)="delete(sr)"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</dialog-component>