@import 'material-icons/iconfont/material-icons.css';

// HOME COLORS 

$black: #000000;
$blue: #062F4F;
$pink: #813772;
$red: #B82601;
$green: #064f4f;
$yellow: #9a8f0f;
$orange: #b95323e6;
$green-primary: #4E8689;
$blue-gray:#8EAEBD;
$indigo:#48618A;
$green-two:#366A2F;
$gray:#586068;



$shadow-card :0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
