.home {
    margin-top: 6rem;
}

.card-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0 , 0, 0.22);
}

.card-body-custom {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 25px 30px 25px 30px;
}

.form_data{
    display:  felx;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    text-align: left;
    padding: 20px 5px 25px 35px;
}

.form_cons{
    display:  felx;
    flex-direction: row;
    width: 100%;
    margin-top: 0rem;
    text-align: left;
    padding: 20px 5px 25px 35px;
    
}

.select_filter{
    border: none !important;
    max-width: 400px;
}

.ling {
    margin-top: 0rem;
    text-align: center;
    padding: 25px 30px 25px 30px;
}

.two {
    width:auto;
    display: flex;
}

.contenido {
    width: 800px;
}

.chartdiv {
    width: auto;
    height: 500px;
}

.chartdivcantidad {
    width: auto;
    height: 500px;
}

.blue-lite-bg {
  background-color: #309de6e8;
  color: #fff;
}

.informacion {
    opacity: 0;
}