@import '../../../../assets/variables.scss';

.card {
  box-shadow: $shadow-card;
}

.moduloI {
  margin-top: 3rem;
}

.footer {
  text-align: center;
}

.btn-add {
  padding: .0rem .75rem;
  vertical-align: bottom;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
}